@import url(../css/_nullstyle.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* ------------- Hero ---------------- */
.hero {
    background: url(../img/Hero\ Image\ 1.png) no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center bottom;
    color: white;
    padding: 0 30px;
}
.menu {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 32px 0;
    align-items: center;
    overflow: hidden;
}
.menu ul{
    display: flex;
}
.menu li{
    margin: 0 50px;
    color: white;
}
.menu-logo{
    max-width: 75px;
    max-height: 35px;
}
.menu-search{
    max-width: 25px;
    max-height: 25px;
}

@media screen and (max-width:320px) {
    .menu{
        max-width: 300px;
        padding: 15px 0;
        overflow: hidden;
    }
    .menu li{
        margin: 0 10px;
        font-size: 10px;
    }
    .menu-logo{
        max-width: 30px;
    }
}

/* ----------------- Hero ---------------- */
.hero-content {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-title {
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}
.hero-text {
    margin-top: 10px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #969696;   
    max-width: 690px; 
}

.hero-btn{
    padding: 12px 60px;
    margin-top: 16px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    background: #2E4DEC;
    transition: 0.5s;
}
.hero-btn:hover{
    padding: 12px 60px;
    margin-top: 16px;
    border-radius: 50px;
    color: #2E4DEC;
    font-size: 18px;
    background: white;
    transition: 0.5s;
}

@media screen and (max-width:320px) {
    .hero-content{
        max-width: 290px;
    }
    .hero-title{
        font-size: 25px;
    }
    .hero-text{
        font-size: 14px;
        line-height: 19px;
    }
    .hero-btn{
        padding: 10px 30px;
        font-size: 12px;
    }
}
@media screen and (max-width:375px) {
    .menu{
        max-width: 300px;
        padding: 15px 0;
        overflow: hidden;
    }
    .menu li{
        margin: 0 10px;
        font-size: 10px;
    }
    .menu-logo{
        max-width: 30px;
    }
    /* ----------------- hero ----------------- */
    .hero-content{
        max-width: 310px;
    }
    .hero-title{
        font-size: 35px;
        line-height: 43px;
    }
    .hero-text{
        font-size: 17px;
        line-height: 23px;
    }
    .hero-btn{
        padding: 10px 30px;
        font-size: 12px;
    }
}
@media screen and (max-width:414px) {
    .menu{
        max-width: 390px;
        padding: 15px 0;
        overflow: hidden;
    }
    .menu li{
        margin: 0 10px;
        font-size: 10px;
    }
    .menu-logo{
        max-width: 30px;
    }
    /* ----------------- hero ----------------- */
    .hero-content{
        max-width: 360px;
    }
    .hero-title{
        font-size: 40px;
        line-height: 50px;
    }
    .hero-text{
        font-size: 19px;
        line-height: 26px;
        margin-top: 25px;
    }
    .hero-btn{
        padding: 10px 35px;
        font-size: 15px;
    }
}
@media screen and (max-width:768px) {
    .menu{
        max-width: 700px;
        padding: 30px 0;
        overflow: hidden;
    }
    .menu li{
        margin: 0 25px;
        font-size: 13px;
    }
    .menu-logo{
        max-width: 50px;
    }
    /* ----------------- hero ----------------- */
    .hero-content{
        max-width: 670px;
    }
    .hero-title{
        font-size: 50px;
        line-height: 58px;
        margin-top: 60px;
    }
    .hero-text{
        font-size: 23px;
        line-height: 32px;
        margin-top: 40px;
    }
    .hero-btn{
        padding: 15px 50px;
        font-size: 15px;
        margin-top: 60px;
    }
}

@media screen and (max-width:1024px) {
    .menu{
        max-width: 900px;
        padding: 30px 0;
        overflow: hidden;
    }
    .menu li{
        margin: 0 25px;
        font-size: 15px;
    }
    .menu-logo{
        max-width: 65px;
    }
    /* ----------------- hero ----------------- */
    .hero-content{
        max-width: 1000px;
    }
    .hero-title{
        font-size: 70px;
        line-height: 78px;
        margin-top: 60px;
    }
    .hero-text{
        font-size: 25px;
        line-height: 37px;
        margin-top: 40px;
    }
    .hero-btn{
        padding: 15px 50px;
        font-size: 18px;
        margin-top: 60px;
    }
}

@media screen and (max-width:280px) {
    .menu{
        max-width: 250px;
        padding: 30px 0;
        overflow: hidden;
    }
    .menu li{
        margin: 0 25px;
        font-size: 10px;
    }
    .menu-logo{
        max-width: 30px;
    }
    /* ----------------- hero ----------------- */
    .hero-content{
        max-width: 240px;
        margin-top: 0px;
    }
    .hero-title{
        font-size: 40px;
        line-height: 48px;
        margin: 10px;
    }
    .hero-text{
        font-size: 15px;
        line-height: 22px;
        margin-top: 15px;
    }
    .hero-btn{
        padding: 10px 30px;
        font-size: 12px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 411px) {
    .menu{
        max-width: 390px;
        padding: 30px 0;
        overflow: hidden;
    }
    .menu li{
        margin: 0 25px;
        font-size: 13px;
    }
    .menu-logo{
        max-width: 50px;
    }
    /* ----------------- hero ----------------- */
    .hero-content{
        max-width: 380px;
    }
    .hero-title{
        font-size: 40px;
        line-height: 48px;
        margin-top: 10px;
    }
    .hero-text{
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px;
    }
    .hero-btn{
        padding: 15px 50px;
        font-size: 12px;
        margin-top: 20px;
    }
}

/* --------------- Section 1 --------------- */


.section-1-content {
    padding: 30px;
}
.section-1-flex {
    display: flex;
    justify-content: space-around;
}
.flex-1-block1 {
    width: 680px;
    height: 660px;
    background: url(../img/ultra_light\ 1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-1-block1 h2{
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;
    margin-top: 20%;    
}
.flex-1-block1 span{
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 200;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;    
    color: #222222;
}
.flex-1-block1 p{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 200;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;   
    color: #22222271;
    max-width: 450px;
}
.flex-1-block2 {
    background: url(../img/best_resolution\ 1.png);
    width: 680px;
    height: 660px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-1-block2 h2{
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    margin-top: 20%; 
}
.flex-1-block2 p{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 200;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;   
    color: #ffffff80;
    max-width: 450px;
}
.flex-1-block2 span{
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 200;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;    
    color: #ffffff;
}

/* -------------------- Section 2 ----------- */

.section-2 {
    background: #F7F8FA;
}
.section-2-content {
    padding: 80px 140px;
    display: flex;
    justify-content: center;
}
.section-2-img{
    width: 342px;
    height: 358px;
}
.section-2-text {
    margin-left: 80px;
    max-width: 702px;
}
.section-2-text h2{
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;    
}
.section-2-text p{
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222; 
    margin-top: 16px;   
}
.sec-2-blocks {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.sec-2-block {
    max-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-2-block h2{
    font-family: Poppins;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;    
}
.sec-2-block p{
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(34, 34, 34, 0,85);    
}

/* ----------- Section 3 ------------ */


.section-3-content {
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3-content h2{
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;
}
.section-3-content p{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #818181;   
    max-width: 480px; 
    margin-top: 16px;
}
/*  Тут находятся 3 блока */
.section-3-flex {
    margin-top: 95px;
    display: flex;
    justify-content: space-around;
    width: 100%;

}
/* Это каждый блок */
.section-3-block {
    display: flex;
    max-width: 410px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #2222223b;
    border-radius: 10px;
    padding: 25px;

}
.section-3-block img{
    max-width: 380px;
    max-height: 210px;
}
.section-3-block h2{
    margin-top: 30px;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    color: #222222;    
}
.section-3-block p{
    margin-top: 10px;
    max-width: 335px;
    flex: 1;
}
.section-3-block button{
    margin-top: 30px;
    background: #2E4DEC;
    padding: 11px 58px;
    border-radius: 50px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: white;    
}